/* start of css font */
@font-face {
  font-family: odinFont;
  src: url('Font/Font1/norse-bold-webfont.woff2') format('woff2'),
       url('Font/Font1/norse-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* finish of css font */

/* css reset */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /* parts recommend form the MDN articles  */
  button,
  input,
  select,
  textarea {
    font-family: inherit;
    font-size: 100%;
  }

input,
textarea,
select,
button {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

  /* end of the reset */

  /* Start of the program */



.image {
  background-image: url(Images/Leaves.avif);
  background-size: cover;
  width: 35%;
  height: 100vh;
  float: left;
}

.textContainer {
  width: inherit;
  height: 110px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 20%;
  }

#odinImage {
  height: 65px;
  width: 65px;
  position: absolute;
  left: 24%;
  top: 24%;
  transform: translate(-24%,-24%);
}

#odinText {
  font-family: odinFont;
  color: white;
  left: 35%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: calc(3.5rem + 30px);
}

#part1 {
  background-color: rgb(245, 245, 245);
  text-wrap: wrap;
  padding-top: 70px;
  padding-bottom: 50px;
  padding-left: 540px;
  padding-right: 250px;
  font-size: calc(0.8rem + 5px);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
}

#part2 {
  border-bottom: outset;
  /* display: flex; */
}

.space {
  padding-top: 15px;
}

.left {
  float:left;
  padding-left: 60px;
}

.right {
  text-align: left;
  padding-left: 800px;
  padding-bottom: 20px;
}

.part_two_text {
  font-size: calc(1rem + 10px);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  padding-left: 540px;
  padding-top: 20px;
  }

  .padding {
    padding-top: 15px;
  }

  button {
    margin-top: 25px;
    margin-left: 60px;
    color: white;
    background-color: rgb(61, 119, 23);
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .log_in {
    padding-left: 540px;
    padding-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  span {
    color: green;
    font-weight: bolder;
  }

